/*ul
{
	margin:0px;
	padding:0px;
	list-style-type:none;
	-webkit-backface-visibility: hidden; backface-visibility: hidden; 
	-webkit-border-radius: 4px;
   
}

#container {
	height: 100%;
	margin: 0px;
	background-color: red;
}
.var_nav
{
	position:relative;
	background:#ccc; 
	width:300px;
	height:70px;
	margin-bottom:5px;
	 -moz-border-radius: 4px;
    border-radius: 4px;
}
.link_bg
{
	 width:70px;
	 height:70px;
	 position:absolute;
	 background:#E01B6A;
	 color:#fff;
	 z-index:2;
}
.link_bg i
{
 position:relative;
}
.link_title
{
position:absolute;
width:100%;
z-index:3;
color:#fff;
}
.link_title:hover .icon
{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
-ms-transform:rotate(360deg);
transform:rotate(360deg);  
}
.var_nav:hover .link_bg
{
width:100%;
background:#E01B6A;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;  
}
.var_nav:hover a
{
font-weight:bold;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;
 transition:all .5s ease-in-out;  
}
.icon
{
position:relative;
width:70px;
height:70px;
text-align:center;
color:#fff;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out; 
-o-transition:all .5s ease-in-out; 
-ms-transition:all .5s ease-in-out;   
float:left;
transition:all .5s ease-in-out;   
float:left;  
}
.icon i{top:22px;position:relative;}
a{
display:block;
position:absolute;
float:left;
font-family:arial;
color:#fff;
text-decoration:none;
width:100%;
height:70px;
text-align:center;
}
span
{
margin-top:25px;
display:block;
}
.menu{
	float:left;
	height: 88%;
}

#right_menu {
	float:right;
	background-color: blue;
	with:40%;
	height: 88%;
}
.footer {
	height: 200px;
	background-color: black;
	color: white;

}*/
li {
	list-style: none;
	text-align: -webkit-match-parent;
}
h1, h2, h3, h4, h5 {
	margin: 0;
}
h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}
a {
	color: inherit;
	-webkit-transition: 0.05s color ease-out;
	-moz-transition: 0.05s color ease-out;
	-ms-transition: 0.05s color ease-out;
	-o-transition: 0.05s color ease-out;
	transition: 0.05s color ease-out;
	text-decoration: none;
}
a:hover{
	color: inherit;
	text-decoration: none;
}
hr {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  margin:0px;
}
.width_100{
	width: 100%;
}
.margin-left_25{
	margin-left: 25px;
}
.izquierda{
	width: 145px;
	background-color: #000;
	padding: 4.44em 0.22em 0;
	left: 0;
	z-index: 30;
	position: fixed;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	color: #ffffff;
	text-transform: uppercase;
}
.derecha{
	width: 34px;
	right: 0;
	z-index: 30;
	position: fixed;
	top: 0;
	bottom: 0;
}
.centro{
	padding-top: 3.88em;
	padding-bottom: 8.88em;
	position: relative;
	z-index: 10;
	width: 64.22em;
	padding-right: 2em;
	margin-left: 15%;
	-webkit-transition: 0.4s all ease-in-out;
	-moz-transition: 0.4s all ease-in-out;
	-ms-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
}
.list-art {
	width: 100%;
	float:left;
	margin-bottom: 0px;
}
.list-art li{
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.artist{
	width: 25%;
	padding: 10px 15px 10px;
	border-right: 1px solid #d4d4d4;
}
.title{
	width: 35%;
	padding: 10px 15px 10px;
	border-right: 1px solid #d4d4d4;
}
.resid{
	width: 20%;
	padding: 10px 15px 10px;
}
.descripcion{
	margin-bottom: 30px;
	margin-top: 15px;
}
.pie{
	margin-left: 128px;
	background-color: #e1e1e1;
	border-top: 1px solid #c8c8c8;
	bottom: 0;
	z-index: 20;
	position: fixed;
	right: 0;
	left: 0;
	height: 200px;
	padding: 20px 20px 0px 40px;
	-webkit-transition: 0.4s all ease-in-out;
	-moz-transition: 0.4s all ease-in-out;
	-ms-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
}

.pane-top{
	height: 40%;
	right: 0;
}

.nav-pane{
	background-color: #fff;
	position: relative;
	list-style-type: none;
	padding: 0;
	height: 100%;
}

.pane-top .level-0{
	border-bottom: 4px solid #fff;
}

.nav-pane .level-0{
	left: -304px;
	width: 338px;
	height: 100%;
	background-color: #f1f1f1;
	position: absolute;
	top: 0;
	bottom: 0;
	border-left: 1px solid #c8c8c8;
}

.pane-top .pane--content {
	padding-top: 16px;
}
.pane--content {
	width: 100%;
	height: 100%;
	line-height: 1.2;
	padding: 40px 20px 30px 50px;
	position: relative;
}
.pane--title {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	line-height: 1;
	text-align: center;
	padding-top: 13px;
	position: absolute;
	bottom: 12.5%;
	left: 0;
	overflow: hidden;
}


/*
.aside, .pane--title, .content--toggle, .count-box--title, .feedback-options--title, .post--dateline, .post--byline {
color: #7a7b7f;
}
.authentication--label, .contains-comment .comment-count, .content--toggle, .count-box--title, .form-message, .annotator--button, .field--button, .feedback-options--label, .small, h5, .pane--title, .comment-drawer--form .errors>li, .flash, #error_explanation h2, #error_explanation li {
	font-size: 0.7em;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
	
.content-nav--toggle {
position: absolute;
top: 25%;
left: 6px;
}
.content--toggle--arrow, .content-nav--toggle-pos2, .content--toggle--arrow-right, .content-nav--toggle {
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
border-radius: 100%;
display: block;
width: 22px;
height: 22px;
background: #fff url("icon-arrow-right.png") no-repeat left top;
background-size: 22px;
}

.content-nav--toggle {
position: absolute;
top: 25%;
left: 6px;
}
.count-box-list {
position: absolute;
bottom: 4em;
}
.nav-footer, .count-box-list, .hud--list, .feedback-options--sublist, .nav-primary, .nav-interior, .authentication ul, .nav-pane, .feedback-options--list, .nav-index, .comment-drawer--list, .comment-drawer--comment ul, .comment-drawer--form .errors, .annotator--bottom, .unstyled-list, .name-list, .details-list, .details-list ul, .contents-list {
list-style-type: none;
padding: 0;
} 	

.nav-footer>li, .count-box-list>li, .hud--list>li, .feedback-options--sublist>li {
float: left;
}

.count-box {
height: 100px;
width: 84px;
background-color: #e6e7e9;
padding: 0 10px;
position: relative;
}

.count-box--title {
width: 64px;
text-transform: uppercase;
margin: 0;
position: absolute;
bottom: 40px;
}
.aside, .pane--title, .content--toggle, .count-box--title, .feedback-options--title, .post--dateline, .post--byline {
color: #7a7b7f;
}

.authentication--label, .contains-comment .comment-count, .content--toggle, .count-box--title, .form-message {
text-transform: none;
}

.authentication--label, .contains-comment .comment-count, .content--toggle, .count-box--title, .form-message, .annotator--button, .field--button, .feedback-options--label, .small {
font-weight: 300;
letter-spacing: 0;
}


.count-box--number {
position: absolute;
bottom: 2px;
}

.count-box--number {
color: #555558;
}

.count-box--number {
font-size: 2em;
font-weight: 300;
}
.content--toggle {
font-style: italic;
position: absolute;
bottom: 2.22em;
}

.aside, .pane--title, .content--toggle, .count-box--title, .feedback-options--title, .post--dateline, .post--byline {
color: #7a7b7f;
}

.authentication--label, .contains-comment .comment-count, .content--toggle, .count-box--title, .form-message {
text-transform: none;
}

.authentication--label, .contains-comment .comment-count, .content--toggle, .count-box--title, .form-message, .annotator--button, .field--button, .feedback-options--label, .small {
font-weight: 300;
letter-spacing: 0;
}

.interior-content {
padding-top: 8.88em;
padding-bottom: 8.88em;
position: relative;
z-index: 10;
}

.interior-content {
width: 30.22em;
padding-right: 2em;
margin-left: 29%;
}

.interior-content, .page-header, .interior-content-page, .page-banner, .nav-hud, .hud--list, .contains-comment:after, .contains-comment .comment-count, .comment-drawer, .annotation {
-webkit-transition: 0.4s all ease-in-out;
-moz-transition: 0.4s all ease-in-out;
-ms-transition: 0.4s all ease-in-out;
-o-transition: 0.4s all ease-in-out;
transition: 0.4s all ease-in-out;
}*/