/*******************************************Font-Face********************************************************************/
@font-face{
	font-family: 'Solex Medium';
    src: url('../fonts/SolexMedium.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: 'Futura Md BT';
    src: url('../fonts/tt0142m_.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: 'FutuBd';
	src: url('../fonts/FutuBd.eot');
	src: local('FutuBd'), 
	     url('../fonts/FutuBd.woff') format('woff'), 
	     url('../fonts/FutuBd.ttf') format('truetype');
}
/************************************************************************************************************************/
body{
	font-family: "FutuBd";
	font-size: 16px;
}
ul{
	margin-left: 17px;
	margin-bottom: 10px;
	height: 30px;
}
li {
	list-style: none;
	text-align: -webkit-match-parent;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	font-family: "Solex Medium";
	text-transform: uppercase;
}
h3{
	font-size: 26px;
}
h6 {
	font-size: 0.75em;
	margin: 2.33em 0;
}
a {
	color: inherit;
	-webkit-transition: 0.05s color ease-out;
	-moz-transition: 0.05s color ease-out;
	-ms-transition: 0.05s color ease-out;
	-o-transition: 0.05s color ease-out;
	transition: 0.05s color ease-out;
	text-decoration: none;
}
a:hover{
	color: inherit;
	text-decoration: none;
}
hr {
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  margin:0px;
}
p{
	margin-bottom: 0px;
}
img {
	width: 60px;
	height: 60px;
	float: left;
	margin-top: 5px;
	margin-right: 10px;
}
.left{
	float: left;
}
.left_283{
	left: 283px;
}
.active{
	background-color: #9DD0FA;
}
.active_right{
	background-color: #46A6F7;
}
.display_none{
	display: none;
}

.width_100{
	width: 100%;
}
.margin-left_25{
	margin-left: 25px;
}
.izquierda{
	width: 160px;
	background-color: #46A6F7;
	padding: 4.44em 0.22em 0;
	left: 0;
	z-index: 30;
	position: fixed;
	top: 0;
	bottom: 0;
	box-sizing: border-box;
	text-transform: uppercase;
}
.izquierda ul li{
	padding: 10px;

}
.titulo{
	bottom: 2em;
	position: fixed;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	font-size: 40px;
	height: 111px;
	width: 211px;
	line-height: 40px;
}
.derecha{
	width: 34px;
	right: 0;
	z-index: 30;
	position: fixed;
	top: 0;
	bottom: 0;
}
.centro{
	padding-top: 3.88em;
	padding-bottom: 8.88em;
	position: relative;
	z-index: 10;
	width: 79.22em;
	padding-right: 2em;
	margin-left: 15%;
	-webkit-transition: 0.4s all ease-in-out;
	-moz-transition: 0.4s all ease-in-out;
	-ms-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
}
.list-art {
	width: 100%;
	float:left;
	margin-bottom: 0px;
}
.list-art li{
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.artist{
	width: 25%;
	padding: 10px 15px 10px;
	border-right: 1px solid #d4d4d4;
}
.title{
	width: 35%;
	padding: 10px 15px 10px;
	border-right: 1px solid #d4d4d4;
}
.resid{
	width: 20%;
	padding: 10px 15px 10px;
}
.descripcion{
	margin-bottom: 30px;
	margin-top: 15px;
	/*font-weight: bold;*/
}
.pie{
	margin-left: 128px;
	background-color: #CEE7FB;
	border-top: 1px solid #c8c8c8;
	bottom: 0;
	z-index: 20;
	position: fixed;
	right: 0;
	left: 0;
	padding: 20px 20px 0px 40px;
	-webkit-transition: 0.4s all ease-in-out;
	-moz-transition: 0.4s all ease-in-out;
	-ms-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
}

.pie .main{
	width: 75%;
	padding-left: 20px;
}
.obra{
	margin-top: 15px;
	width: 68%;
}

.pane-top{
	height: 40%;
	right: 0;
}
.pane-bottom{
	height: 60%;
	top: 0;
}

.nav-pane{
	background-color: #fff;
	position: relative;
	list-style-type: none;
	padding: 0;
}

.pane-top .level-0{
	border-bottom: 4px solid #fff;
}

.nav-pane .level-0{
	left: -304px;
	width: 338px;
	background-color: #9DD0FA;
	-webkit-box-shadow: inset 34px 0 0 0 #9DD0FA,inset 38px 0 0 0 #fff;
	-moz-box-shadow: inset 34px 0 0 0 #9DD0FA,inset 38px 0 0 0 #fff;
	box-shadow: inset 34px 0 0 0 #9DD0FA,inset 38px 0 0 0 #fff;
	position: absolute;
	top: 0;
	bottom: 0;
}

.pane-top .pane--content {
	padding-top: 10px;
}
.pane--content {
	width: 100%;
	height: 100%;
	line-height: 1.2;
	padding: 40px 20px 30px 50px;
	position: relative;
}
.pane--title {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	-o-transform-origin: top left;
	transform-origin: top left;
	line-height: 1;
	text-align: center;
	padding-top: 11px;
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	text-transform: uppercase;
}
.pane--header {
	cursor: pointer;
	width: 34px;
	left: 0;
	white-space: nowrap;
	z-index: 10;
	position: absolute;
	top: 0;
	bottom: 0;
}
.pane-top .pane--header {
	padding-top: 180px;
}
 .content-nav--toggle {
 	position: absolute;
	top: 25%;
	left: 6px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	display: block;
	width: 22px;
	height: 22px;
	background: #fff url("../images/icon-arrow-right.png") no-repeat left top;
	background-size: 22px;
}
.content-nav--toggle-closed{
	background-image: url("../images/icon-arrow-left.png");
}
.subir{
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
}
.subir:hover{
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
}
.nombre_autor{
	margin-bottom: 10px;
}
.detalle{
	width: 80%;
	font-size: 12px;
}
.autor_description{
	float: left;
	width: 70%;
}
.boxes-list{
	position: absolute;
	bottom: 8.5em;
	list-style-type: none;
	padding: 0;
	margin-left: 0px;
	width: 66%;
}
.button_box{
	background-color: #46A6F7;
	float: left;
	height: 60px;
	width: 20%;
	margin-right: 4px;
	padding-right: 25px;
	padding-left: 6px;
	padding-top: 40px;
	position: relative;
	text-transform: uppercase;
	font-size: 0.68em;
}