
<div class="navbar">
    <div class="navbar-inner">
      <ul class="nav width_100">
        <li class="artist margin-left_25">Artista</li>
        <li class="title">Titulo</li>
        <li class="resid">Lugar</li>
      </ul>
     <hr>
     <% _.each(videos, function(video){ %>
     <ul class="list-art">
      <a href="#">
       <li class="artist"><%= video.get("artista") %></li> 
       <li class="title"><%= video.get("titulo") %></li> 
       <li class="resid"><%= video.get("residencia") %></li> 
      </a>
     </ul>
     <hr>
     <% }); %>
    </div>
</div>