<div class="main">
	<div>
		<div class="left">
			<p>Fecha Ingreso</p><input id= 'date_arr' type="text" class="date" />
		</div>
		<div class="right">
		    <p>Fecha Egreso</p><input id= 'date_leav' type="text" class="date"  />
	    </div>
    </div>
	<div>
		<p>Cantidad Pasajeros</p> 
		<input type="text" value='0' id="cant_pas" />
	</div>
	<div>
		<p>Cant. plazas matrimoniales</p>
		<input id="plaz_mat" type="text" size="2" value='0'>
	</div>
	<div>
		<p>Cant. plazas individuales</p>
		<input  id="plaz_ind" type="text" size="2" value='0'>
	</div>
	<div>
		<p>Necesita cuna?</p>
		<select id="list">
			<option value="no">No</option>
			<option value="yes">Yes</option>
		</select>
	</div>
	<div>
		<input class="right search" type="button" value="Buscar">
	</div>
</div>

